.App {
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vw;
  padding: 0 100px;
  text-align: center;
  background-color: #EDF7FF;
  display: flex;
  flex-direction: column;
 padding-top: 50px;
  color: rgb(31, 30, 30);
}
.main{
  display: flex;
  justify-content: center;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 5%
}
.header{
  padding: 0 100px ;
  display: flex;
  justify-content: flex-start;
}

